<!-- app/views/books/index.html.erb -->
<h1>Listing Cats</h1>

<ul>
  <% @cats.each do |cat| %>
    <li>   <%= "id: #{cat.id}" %>  </li>
    <li>   <%= "name: #{cat.name}" %>  </li>
    <li>   <%= "date of birth: #{cat.birth_date}" %>  </li>
    <li>   <%= "color: #{cat.color}" %>  </li>
    <li>   <%= "age: #{cat.age}" %>  </li>
    <li>   <%= "sex: #{cat.sex}" %>  </li>
    <li>   <%= "description: #{cat.description}" %>  </li>
  <% end %>
</ul>
